.loan-calculator-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #fff;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.loan-inputs h3::before {
  content: "📝";
  margin-right: 1rem;
}

.loan-results h3::before {
  content: "📊";
  margin-right: 1rem;
}

.loan-inputs, .loan-results {
  flex: 1;
  min-width: 300px;
  border: 1px solid #DDDCE0;
  border-radius: 1rem;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
}

.loan-inputs h3, .loan-results h3 {
  color: #3F3E5E;
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  font-family: 'Poppins';
}

.loan-inputs p, .loan-results p {
  color: #000D54;
  font-size: 1rem;
  line-height: 1.5rem;
}

.pp-loan-form {
  border: 1px solid #DDDCE0;
  border-radius: 1rem;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
}

.loan-inputs label {
  display: block;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  color: #3F3E5E;
}

.loan-inputs input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #DDDCE0;
  border-radius: 6px;
  margin-top: 0.5rem;
  color: #0052CC;
  font-weight: bold;
}

/**
.loan-inputs .input-symbol-dollar {
  position: relative;
}

.loan-inputs .input-symbol-dollar input {
    padding-left: 1rem;
}

.loan-inputs .input-symbol-dollar:before {
    position: absolute;
    top: 0;
    content:"$";
    left: 0.5rem;
    font-weight: bold;
    color: #0052CC;
}
**/

.loan-inputs small {
  color: #999;
  font-size: 0.8em;
}

#calculate-btn,
.pp-calc-calculate-btn {
  display: block;
  width: 100%;
  background: #0052CC;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.5rem;
}

#calculate-btn:hover,
.pp-calc-calculate-btn:hover {
  background: #ffd100;
  color: #3F3E5E;
}

.loan-results p {
  margin: 8px 0;
}

.loan-results h4 {
  margin-top: 20px;
  color: #000D54;
}

.loan-results table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.loan-results th {
  color: #fff;
  padding: 8px;
  font-weight: 400;
}

.loan-results th:first-child {
  border-top-left-radius: 0.75rem;
}

.loan-results th:last-child {
  border-top-right-radius: 0.75rem;
}

.loan-results td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  color: #000D54;
  font-size: 1rem;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

thead tr{
  background: #000D54;
}

.font-result{
  font-weight:700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.large-font{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.result-section{
  text-align: center;
  border: 1px solid #DDDCE0;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
}

.result-section p{
  margin:0;
}

small {display:none;}

